<div class="wrapper">
    <header>
        <img class="topLogo" src="../../../assets/BadgeLVL2.svg" alt="">
    </header>
    <div class="content">
        <div class="card">
            <div class="gradient"></div>
            <h1>Rock Paper Scissors Lizard Spock</h1>
            <p>You will play a vs match with another Cadet</p>
            <a routerLink="/">Back</a>
        </div>
    </div>
    <footer>
        <img class="bottomLogo" src="../../../assets/UKG-On Light.svg" alt="">
    </footer>
</div>