<div class="wrapper">
    <header>
        <img class="topLogo" src="../../../assets/WelcomeBadge.svg" alt="">
    </header>

    <article>
        <section class="welcome">
            <h1>welcome to the mission <br> <span>WE ARE BEYOND</span></h1>
            <p>Explore the galaxy searching the hidden stars</p>
        </section>
        <section class="nav">
            <div class="gradient"></div>
            <h2>Academy test</h2>
            <ul>
                <li routerLink="/cadet-program">Cadet <span>logo</span></li>
                <li routerLink="/pilot-program">Pilot <span>logo</span></li>
                <li routerLink="/astronaut-program">Astronaut <span>logo</span></li>
            </ul>
        </section>
    </article>

    <footer>
        <img class="bottomLogo" src="../../../assets/UKG-On Light.svg" alt="">
    </footer>
</div>