<div class="game_wrapper">
    <header>
        <img src="../../../assets/cadet-badge.svg" alt="level one badge">
        <h2>Rock Paper Scissors Lizard Spock</h2>
    </header>
    <article class="cards_container">
        <section class="player">
            <app-player (valorEnviado)="manejarValor($event)" [id]="1" [result]="result"></app-player>
        </section>
        <section class="vs">
            <p>VS</p>
            <button *ngIf="players.length === 2" (click)="displayResult()">Play the game</button>
        </section>
        <section class="player">
            <app-player (valorEnviado)="manejarValor($event)" [id]="2" [result]="result"></app-player>
        </section>
    </article>
    <footer>
        <!-- <img class="bottomLogo" src="../../../assets/UKG-On Light.svg" alt=""> -->
    </footer>
</div>